cython==0.29.16
h5py==2.10.0
matplotlib==3.2.1
pandas==1.0.3
protobuf==3.11.3
scikit-learn==0.22.1
tornado==6.0.4
sentencepiece==0.1.85
tensorboard==2.2.0
tokenizers==0.5.2
transformers==2.8.0
typing==3.7.4.1
regex==2020.4.4
requests==2.23.0
sacrebleu==1.4.6
fastBPE==0.1.0
subword_nmt==0.3.7
dynaconf==2.2.3
fastapi==0.65.2
httptools==0.0.13
pydantic==1.6.2
starlette==0.12.9
toml==0.10.0
uvicorn==0.9.0
uvloop==0.13.0
websockets==9.1
numpy
scipy
librosa
unidecode
inflect
librosa